a {
    font-size: 10px;
    color: #FFFF;
    font-family: 'Courier New', Courier, monospace;
}

.icon {
    vertical-align: middle;
    margin-left: 10px;
    margin-bottom: 8px;
}

.my-informatios {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: flex-start;
    vertical-align: middle;
}
