a {
    font-size: 10px;
    color: #FFFF;
    font-family: 'Courier New', Courier, monospace;
}

.icon {
    vertical-align: middle;
    margin-left: 10px;
    bottom: 0;
}

.my-informatios {
    top: 0;
    position: absolute;
    display: flex;
    justify-content: flex-start;
    vertical-align: middle;
}
