.select-dog Select {
    font-size: 15px;
}

.select-dog {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
}

.select-dog h5 {
    color: #FFFF;
    font-size: 15px;
}

image {
    width: 15px;
    height: 15px;

}

container-image {
    align-items: center;
    flex-direction: column;
    width: 100%;
    justify-content: space-around;
    background-color: tomato;
}